a {
  text-decoration: none;
}

.email-input{
  display: block;
  color: white;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  margin: auto;
  outline: none;
  border: 2px solid white;
  background-color: transparent;
  background: transparent;
  font-size: 20pt;
  text-align: center;
}

.orange-button{
  margin-top: 20px;
  width: 100%;
  text-transform: uppercase;
  color: #fdb714;
  background-color: transparent;
  outline: none;
  border: 2px solid #fdb714 ;
  padding: 5px;
  font-size: 20pt;
  box-sizing:border-box;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.orange-button:hover{
  background-color: #fdb714;
  color: white;
}

.orange-button:active {
  color: #a87a0e;
}

/* fix defaults */
input::-webkit-input-placeholder { 
  color: white;
}
input::-moz-placeholder { 
  color: white
}
input:-ms-input-placeholder { 
  color: white
}
input:-moz-placeholder { 
  color: white
}
::-moz-placeholder {
  opacity: 1;
}

/* loader */
.loader {
  border: 6px solid #595b60; /* Light grey */
  border-top: 6px solid #fdb714; /* Blue */
  border-radius: 50%;
  width: 21px;
  height: 21px;
  animation: spin 1s linear infinite;
  margin: 19px auto 0px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

