body{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background: url("../img/BTI_Website_background.png");
  background-repeat: no-repeat;
  background-position: top 0px center;
  background-size: 1200px 2000px; 
}

.page-wrapper {
  width: 600px;
  margin: 150px auto 0px auto;
}

.logo{
  display: block;
  width: 500px;
  margin: 0px auto 50px auto;
}

.section{
  width: 100%;
  display: block;
  margin: 100px auto;
}

.third{
  margin-top: 120px;
}

.fourth{
  margin-top: 160px;
}

.section p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  
}

a {
  text-decoration: none;
}

.social{
  margin: 0px 10px 0px 10px;
  width: 75px;
  height: 75px;
  display: inline-block;
}

.social-buttons {
  margin-top: 30px 
}

.email-input{
  display: block;
  color: #fdb714;
  box-sizing: border-box;
  padding: 5px;
  width: 80%;
  margin: auto;
  outline: none;
  border: 2px solid #fdb714;
  background: transparent;
  font-size: 16pt;
  text-align: center;
}

.orange-button{
  margin-top: 20px;
  width: 200px;
  color: white;
  background-color: #fdb714;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 14pt; 
  box-sizing:border-box;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.orange-button:hover{
  background-color:transparent;
  color: #fdb714;
}

.orange-button:active {
  color: #a87a0e;
}

.grey-text{
  color: #595b60;
}

p {
  color: #fdb714;
  font-size: 16pt;
}

h1 {
  color: #595b60;
}

h2 {
  color: #595b60; 
}

ul.grey-text {
  list-style-type: none;
  list-style-position: outside; 
  padding: 0px;
  font-size: 16pt
}

.footer{
  margin-top: 20px;
}

.line-break {
  width: 70%;
}


.facebook{
  background: url("../img/facebook-white.svg");
  background-repeat: no-repeat;
}

.medium {
  background: url("../img/medium-white.svg");
  background-repeat: no-repeat;
}

.linkedin {
  background: url("../img/linkedin-white.svg");
  background-repeat: no-repeat;
}

/* fix defaults */
input::-webkit-input-placeholder { 
  color: #fdb714;
}
input::-moz-placeholder { 
  color: #fdb714;
}
input:-ms-input-placeholder { 
  color: #fdb714;
}
input:-moz-placeholder { 
  color: #fdb714;
}
::-moz-placeholder {
  opacity: 1;
}

/* mobile responsive */
@media only screen and (max-width: 500px) {
  body{
    background-size: 600px 1000px; 
  }
  .page-wrapper {
    width: 90%;
    margin: 20px auto 0px auto;
  }
  .first{
    margin-top: 50px;
  }
  .logo{
    width: 90%;
  }
  .facebook{
    background: url("../img/facebook.svg");
  }
  .medium {
    background: url("../img/medium.svg");
  }  
  .linkedin {
    background: url("../img/linkedin.svg");
  }
  .email-input{
    font-size: 12pt; 
  }
  .second{
    margin-top: 230px;
  }
}

/* loader */
.loader {
  border: 6px solid #595b60; /* Light grey */
  border-top: 6px solid #fdb714; /* Blue */
  border-radius: 50%;
  width: 21px;
  height: 21px;
  animation: spin 1s linear infinite;
  margin: 19px auto 0px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

