html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Blockchain Training Institute
    meta(name="description" content="")
    link(rel="stylesheet" href="css/styles.css")
    link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:600" rel="stylesheet") 
    script(type="text/javascript" src="js/scripts.js")
  body
    .page-wrapper
      .first.section
        img.logo(src="img/Logo.svg")
        p Welcome to the blockchain training institute
        p Blockchain technology is one of the most profound technological developments since the internet, and althought it's seen massive growth in revent years, we're still in the early stages
      .second.section
        h1 BTI has one mission...
        p To educate the public on the fundamentals of blockchain technology, and to help people navigate and understand the applications built upon it, most notably smart contracts, governance models, cryptocurrencies and tokenised assets.
        p.grey-text Our aim is to remanin a voice of reason in an industry that will ultimately change how we comminicate, transact and interact, but it is currently clouded by misinformation, hype and get-rich quick schemes.
      .third.section
        .social-buttons
          a(href="https://www.facebook.com/blockchaintraininginstitute/")
            .facebook.social
          a(href="https://medium.com/@AleksandarSvetski")  
            .medium.social
          a(href="https://www.linkedin.com/company/blockchaintraining/")  
            .linkedin.social
        p.grey-text Click on our social media links to chat ans engage with BTI tutors, alimni, industry experts and interested individuals come together and discuss blockchain, current affairs and more.
      .fourth.section
        h1 Join our mailing list
        .email-content
          input.email-input(id="topEmail" type="email" placeholder="ENTER YOUR EMAIL HERE :)")
          button.orange-button(onClick="submitEmail(this, document.getElementById('loader1'), document.getElementById('topEmail'), document.getElementById('confirmed1'))"  type="button") JOIN
          #loader1.loader(style="display:none")
          #confirmed1.grey-text(style="display:none") Email Sent!
        p Like you, we hate spam, so our mailing list exists for 2 reasons:
        p.grey-text To notify you when new workshop dates are announced
        p.grey-text We send out our monthly "State of the blockchain industry" which includes a recap od the months major events along with further reading.
      .fifth.section
        h1 Our courses...
        p Our courses and workshops are spread into four primary catagories:
        ul.grey-text
          li Non-technical
          li Technical
          li Research and Valuation (Token Economics / Investment)
          li Corporate Workshops
        a(href="https://www.facebook.com/blockchaintraininginstitute/")
          button.orange-button(type="button") FIND OUT MORE
        .logo
    hr.line-break
    .page-wrapper.footer
      .email-content
        input.email-input(id="bottomEmail" type="email" placeholder="ENTER YOUR EMAIL HERE")
        button.orange-button(onClick="submitEmail(this, document.getElementById('loader2'), document.getElementById('bottomEmail'), document.getElementById('confirmed2'))" type="button") Join
        #loader2.loader(style="display:none")
        #confirmed2(style="display:none") Email Sent!
      .social-buttons
          a(href="https://www.facebook.com/blockchaintraininginstitute/")
            img.social(src="img/facebook.svg")
          a(href="https://medium.com/@AleksandarSvetski")  
            img.social(src="img/medium.svg")
          a(href="https://www.linkedin.com/company/blockchaintraining/")  
            img.social(src="img/linkedin.svg")
    .bottom-page
